body{
    margin: 0;
    padding: 0;
    
}
.bg-container{
    width: 100%;
    height: 100vh;
}
.login-card, .register-card {
    
    color: rgb(14, 118, 209);
    width: 400px !important;
    height: auto;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.button-list{
    margin-left: auto;
    margin-right: auto;
}
